################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ProyectoBaseDatosII/.vs/ProyectoBaseDatosII/FileContentIndex/55cf4416-dc92-4cbe-85f6-ebf8be0f1ef2.vsidx
