USE [VentaMuebles]
GO
/****** Object:  UserDefinedTableType [dbo].[udt_DetalleFactura]    Script Date: 23/10/2024 11:58:32 ******/
CREATE TYPE [dbo].[udt_DetalleFactura] AS TABLE(
	[cantidad] [int] NOT NULL,
	[id_Mueble] [int] NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udt_DetalleImprimir]    Script Date: 23/10/2024 11:58:32 ******/
CREATE TYPE [dbo].[udt_DetalleImprimir] AS TABLE(
	[cantidad] [int] NOT NULL,
	[id_Mueble] [int] NOT NULL,
	[total] [decimal](10, 2) NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udt_Factura]    Script Date: 23/10/2024 11:58:32 ******/
CREATE TYPE [dbo].[udt_Factura] AS TABLE(
	[id_Factura] [int] NOT NULL,
	[id_Serie] [varchar](25) NOT NULL,
	[fechaFactura] [datetime] NOT NULL,
	[montoTotal] [decimal](18, 2) NOT NULL,
	[totalSinDescuetno] [decimal](18, 2) NOT NULL,
	[descuento] [decimal](10, 2) NOT NULL,
	[Cliente] [varchar](200) NOT NULL,
	[Direccion] [varchar](30) NOT NULL,
	[Usuario] [varchar](75) NOT NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[f_login]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Función para incicio de sesión
Create function [dbo].[f_login]
(
    @usuario varchar(100), @contrasennia varchar(100)
)
	--returns @tabla table (respuesta bit ,  rol varchar(50) )
	returns varchar(100)
	AS
	BEGIN
		declare @respuesta as varchar(100)

	-- Contraseña almacenanda en la base de datos
		declare @contraGuardada as varbinary(1000)
		select @contraGuardada = Password from usuario where usuario = @usuario
		


		declare @contraEncriptada as varbinary(1000)
		set @contraEncriptada = hashbytes('SHA2_512', convert(nvarchar(4000), @contrasennia))
		
		--declare @contraGuardada as varchar(100)
		--set @contraGuardada = convert (varchar(50), DECRYPTBYPASSPHRASE('BaseDeDatos2', @encriptada ))
		

	-- Rol del usuario
		declare @rol as varchar(50)
		select @rol =  nombre_Rol from usuario inner join rol on usuario.id_Rol = rol.id_Rol where usuario.Usuario = @usuario

	-- Comparación de la contraseña

		
		If @contraGuardada =@contraEncriptada
			--insert into @tabla values (1, @rol)
			set @respuesta = @rol
		Else
			set @respuesta = '0'
			--insert into @tabla values (0, ' ')
	RETURN @respuesta
END
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[id_Categoria] [int] IDENTITY(1,1) NOT NULL,
	[categoria] [varchar](25) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id_Cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Cliente] [varchar](200) NOT NULL,
	[DireccionFacturacion] [varchar](30) NOT NULL,
	[Telefono] [varchar](10) NOT NULL,
	[Correo] [varchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
	[Descuentos] [decimal](3, 2) NOT NULL,
	[NIT] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleFactura]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFactura](
	[id_DetalleFactura] [int] IDENTITY(1,1) NOT NULL,
	[cantidadMuebles] [int] NOT NULL,
	[id_mueble] [int] NULL,
	[id_Factura] [int] NULL,
	[id_Serie] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_DetalleFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallePedido]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedido](
	[id_DetallePedido] [int] IDENTITY(1,1) NOT NULL,
	[CantidadProducto] [int] NOT NULL,
	[id_Pedido] [int] NULL,
	[id_mueble] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_DetallePedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DireccionEntrega]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DireccionEntrega](
	[id_DirecciónEntrega] [int] IDENTITY(1,1) NOT NULL,
	[Direccion] [varchar](150) NOT NULL,
	[id_Cliente] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_DirecciónEntrega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[id_Empleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Telefono] [varchar](8) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entrega]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entrega](
	[id_Entrega] [int] IDENTITY(1,1) NOT NULL,
	[DescripcionEntrega] [varchar](200) NOT NULL,
	[TelefonoReferencia] [varchar](8) NOT NULL,
	[fechaEntrega] [date] NOT NULL,
	[horaEntrega] [time](7) NOT NULL,
	[Estado] [bit] NOT NULL,
	[id_EstadoPedido] [int] NULL,
	[id_DirecciónEntrega] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Entrega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoPedido_Entrega]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoPedido_Entrega](
	[id_EstadoPedido] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_EstadoPedido] [varchar](25) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_EstadoPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoPedido_Proveedor]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoPedido_Proveedor](
	[id_EstadoPedido] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_EstadoPedido] [varchar](30) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_EstadoPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[id_Factura] [int] IDENTITY(1,1) NOT NULL,
	[id_Serie] [varchar](25) NOT NULL,
	[fechaFactura] [datetime] NOT NULL,
	[montoTotal] [decimal](10, 2) NOT NULL,
	[totalSinDescuento] [decimal](10, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[id_Cliente] [int] NULL,
	[id_Usuario] [int] NULL,
	[id_Domicilio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[id_Marca] [int] IDENTITY(1,1) NOT NULL,
	[marca] [varchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modelo]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelo](
	[id_Modelo] [int] IDENTITY(1,1) NOT NULL,
	[modelo] [varchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
	[id_Marca] [int] NULL,
	[id_Categoria] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Modelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Muebles]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Muebles](
	[id_mueble] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](175) NOT NULL,
	[PrecioVenta] [float] NOT NULL,
	[Descuento] [decimal](3, 2) NOT NULL,
	[ExistenciaMinima] [int] NOT NULL,
	[TiempoGarantia] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
	[id_Modelo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mueble] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[id_Pago] [int] IDENTITY(1,1) NOT NULL,
	[porcentaje] [decimal](4, 2) NOT NULL,
	[cantidad] [decimal](18, 2) NOT NULL,
	[id_TipoPago] [int] NOT NULL,
	[id_Factura] [int] NOT NULL,
	[id_Serie] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[id_Pedido] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](200) NOT NULL,
	[FechaPedido] [date] NOT NULL,
	[FechaRecibido] [date] NULL,
	[CantidadPedido] [int] NULL,
	[CantidadRecibido] [int] NULL,
	[TotalPagar] [decimal](10, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[id_EstadoPedido] [int] NULL,
	[id_TipoPago] [int] NULL,
	[id_Proveedor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[id_Proveedor] [int] IDENTITY(1,1) NOT NULL,
	[proveedor] [varchar](75) NOT NULL,
	[Direccion] [varchar](75) NOT NULL,
	[Telefono] [varchar](15) NOT NULL,
	[TelefonoExtra] [varchar](15) NULL,
	[Correo] [varchar](35) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[id_Rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre_Rol] [varchar](20) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SerieFactura]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SerieFactura](
	[id_Serie] [varchar](25) NOT NULL,
	[fechaInicio] [smalldatetime] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Serie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[id_Stock] [int] IDENTITY(1,1) NOT NULL,
	[CantidadInicial] [int] NOT NULL,
	[CantidadStock] [int] NOT NULL,
	[FechaIngreso] [date] NOT NULL,
	[Estado] [bit] NOT NULL,
	[id_mueble] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Stock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPago]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPago](
	[id_TipoPago] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_TipoPago] [varchar](20) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_TipoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](75) NOT NULL,
	[Password] [varbinary](2000) NOT NULL,
	[Estado] [bit] NOT NULL,
	[id_Rol] [int] NULL,
	[id_Empleado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([id_Categoria], [categoria], [Estado]) VALUES (1, N'Silla', 1)
INSERT [dbo].[Categoria] ([id_Categoria], [categoria], [Estado]) VALUES (2, N'Sofa', 1)
INSERT [dbo].[Categoria] ([id_Categoria], [categoria], [Estado]) VALUES (3, N'Mesa', 1)
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([id_Cliente], [Nombre_Cliente], [DireccionFacturacion], [Telefono], [Correo], [Estado], [Descuentos], [NIT]) VALUES (1, N'Emiliano Sarti', N'San Marcos', N'43125789', N'emiliano@gmail.com', 1, CAST(0.00 AS Decimal(3, 2)), N'12345678')
INSERT [dbo].[Cliente] ([id_Cliente], [Nombre_Cliente], [DireccionFacturacion], [Telefono], [Correo], [Estado], [Descuentos], [NIT]) VALUES (2, N'Juan Pablo Lopez Garcia', N'Ciudad', N'17921234', N'juanpaLG@gmail.com', 1, CAST(0.00 AS Decimal(3, 2)), N'CF')
INSERT [dbo].[Cliente] ([id_Cliente], [Nombre_Cliente], [DireccionFacturacion], [Telefono], [Correo], [Estado], [Descuentos], [NIT]) VALUES (3, N'Alexander Bollen', N'Quetzaltenango', N'12312312', N'', 1, CAST(0.00 AS Decimal(3, 2)), N'12312212')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleFactura] ON 

INSERT [dbo].[DetalleFactura] ([id_DetalleFactura], [cantidadMuebles], [id_mueble], [id_Factura], [id_Serie]) VALUES (1, 2, 15, 1, N'A-23')
INSERT [dbo].[DetalleFactura] ([id_DetalleFactura], [cantidadMuebles], [id_mueble], [id_Factura], [id_Serie]) VALUES (2, 1, 9, 1, N'A-23')
INSERT [dbo].[DetalleFactura] ([id_DetalleFactura], [cantidadMuebles], [id_mueble], [id_Factura], [id_Serie]) VALUES (3, 4, 7, 1, N'A-23')
SET IDENTITY_INSERT [dbo].[DetalleFactura] OFF
GO
SET IDENTITY_INSERT [dbo].[DireccionEntrega] ON 

INSERT [dbo].[DireccionEntrega] ([id_DirecciónEntrega], [Direccion], [id_Cliente]) VALUES (1, N'4 calle Zona 3 San Marcos, San Marcos', 1)
INSERT [dbo].[DireccionEntrega] ([id_DirecciónEntrega], [Direccion], [id_Cliente]) VALUES (2, N'19 Calle 7-87 zona 10 Quetgo, Quetgo', 2)
INSERT [dbo].[DireccionEntrega] ([id_DirecciónEntrega], [Direccion], [id_Cliente]) VALUES (3, N'8va Calle 7-87 Xela', 1)
SET IDENTITY_INSERT [dbo].[DireccionEntrega] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([id_Empleado], [Nombre], [Telefono], [Correo], [Estado]) VALUES (1, N'Juan Jose', N'77609876', N'juanjo@gmail.com', 1)
INSERT [dbo].[Empleado] ([id_Empleado], [Nombre], [Telefono], [Correo], [Estado]) VALUES (2, N'Valeria Valle', N'76341257', N'vale123@gmail.com', 1)
INSERT [dbo].[Empleado] ([id_Empleado], [Nombre], [Telefono], [Correo], [Estado]) VALUES (3, N'Gabriela Sandoval', N'99347512', N'Gabi@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[Entrega] ON 

INSERT [dbo].[Entrega] ([id_Entrega], [DescripcionEntrega], [TelefonoReferencia], [fechaEntrega], [horaEntrega], [Estado], [id_EstadoPedido], [id_DirecciónEntrega]) VALUES (1, N'Casa amarilla a 2 cuadras de Restaurante Comida, cuidado con el perro', N'43125789', CAST(N'2024-10-20' AS Date), CAST(N'08:00:00' AS Time), 1, 1, 1)
INSERT [dbo].[Entrega] ([id_Entrega], [DescripcionEntrega], [TelefonoReferencia], [fechaEntrega], [horaEntrega], [Estado], [id_EstadoPedido], [id_DirecciónEntrega]) VALUES (4, N'Enfrente de una iglesia', N'12345678', CAST(N'2024-10-23' AS Date), CAST(N'12:30:00' AS Time), 1, 1, 1)
INSERT [dbo].[Entrega] ([id_Entrega], [DescripcionEntrega], [TelefonoReferencia], [fechaEntrega], [horaEntrega], [Estado], [id_EstadoPedido], [id_DirecciónEntrega]) VALUES (5, N'Enfrente de una abarrotería', N'12345678', CAST(N'2024-10-31' AS Date), CAST(N'12:35:00' AS Time), 1, 1, 2)
SET IDENTITY_INSERT [dbo].[Entrega] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoPedido_Entrega] ON 

INSERT [dbo].[EstadoPedido_Entrega] ([id_EstadoPedido], [Nombre_EstadoPedido], [Estado]) VALUES (1, N'Facturado', 1)
INSERT [dbo].[EstadoPedido_Entrega] ([id_EstadoPedido], [Nombre_EstadoPedido], [Estado]) VALUES (2, N'Entregado', 1)
INSERT [dbo].[EstadoPedido_Entrega] ([id_EstadoPedido], [Nombre_EstadoPedido], [Estado]) VALUES (3, N'Cancelado', 1)
SET IDENTITY_INSERT [dbo].[EstadoPedido_Entrega] OFF
GO
SET IDENTITY_INSERT [dbo].[Factura] ON 

INSERT [dbo].[Factura] ([id_Factura], [id_Serie], [fechaFactura], [montoTotal], [totalSinDescuento], [Estado], [id_Cliente], [id_Usuario], [id_Domicilio]) VALUES (1, N'A-23', CAST(N'2024-10-23T10:32:23.580' AS DateTime), CAST(5700.00 AS Decimal(10, 2)), CAST(5700.00 AS Decimal(10, 2)), 1, 1, 4, 1)
INSERT [dbo].[Factura] ([id_Factura], [id_Serie], [fechaFactura], [montoTotal], [totalSinDescuento], [Estado], [id_Cliente], [id_Usuario], [id_Domicilio]) VALUES (4, N'A-30', CAST(N'2024-10-23T10:53:09.613' AS DateTime), CAST(550.00 AS Decimal(10, 2)), CAST(550.00 AS Decimal(10, 2)), 1, 1, 1, 4)
INSERT [dbo].[Factura] ([id_Factura], [id_Serie], [fechaFactura], [montoTotal], [totalSinDescuento], [Estado], [id_Cliente], [id_Usuario], [id_Domicilio]) VALUES (5, N'A-30', CAST(N'2024-10-23T11:04:01.970' AS DateTime), CAST(270.00 AS Decimal(10, 2)), CAST(270.00 AS Decimal(10, 2)), 1, 2, 1, 5)
SET IDENTITY_INSERT [dbo].[Factura] OFF
GO
SET IDENTITY_INSERT [dbo].[Marca] ON 

INSERT [dbo].[Marca] ([id_Marca], [marca], [Estado]) VALUES (1, N'Arketipo', 1)
INSERT [dbo].[Marca] ([id_Marca], [marca], [Estado]) VALUES (2, N'MueblesGT', 1)
INSERT [dbo].[Marca] ([id_Marca], [marca], [Estado]) VALUES (3, N'Muebles', 0)
SET IDENTITY_INSERT [dbo].[Marca] OFF
GO
SET IDENTITY_INSERT [dbo].[Modelo] ON 

INSERT [dbo].[Modelo] ([id_Modelo], [modelo], [Estado], [id_Marca], [id_Categoria]) VALUES (1, N'Silla de Oficina', 1, 1, 1)
INSERT [dbo].[Modelo] ([id_Modelo], [modelo], [Estado], [id_Marca], [id_Categoria]) VALUES (2, N'Sofa Moderno', 1, 1, 2)
INSERT [dbo].[Modelo] ([id_Modelo], [modelo], [Estado], [id_Marca], [id_Categoria]) VALUES (3, N'Mesa de Centro', 1, 2, 3)
SET IDENTITY_INSERT [dbo].[Modelo] OFF
GO
SET IDENTITY_INSERT [dbo].[Muebles] ON 

INSERT [dbo].[Muebles] ([id_mueble], [Nombre], [Descripcion], [PrecioVenta], [Descuento], [ExistenciaMinima], [TiempoGarantia], [Estado], [id_Modelo]) VALUES (1, N'Silla Moderna - Apoyabrazos', N'Silla Moderna con apoyabrazos', 150, CAST(0.00 AS Decimal(3, 2)), 5, 24, 1, 1)
INSERT [dbo].[Muebles] ([id_mueble], [Nombre], [Descripcion], [PrecioVenta], [Descuento], [ExistenciaMinima], [TiempoGarantia], [Estado], [id_Modelo]) VALUES (2, N'Silla Moderna - Sin Apoyabrazos', N'Silla Moderna sin apoyabrazos', 130, CAST(0.00 AS Decimal(3, 2)), 5, 24, 1, 1)
INSERT [dbo].[Muebles] ([id_mueble], [Nombre], [Descripcion], [PrecioVenta], [Descuento], [ExistenciaMinima], [TiempoGarantia], [Estado], [id_Modelo]) VALUES (3, N'Sofa Clásico - Dos plazas', N'Sofa Clásico de dos plazas', 400, CAST(0.00 AS Decimal(3, 2)), 2, 36, 1, 2)
SET IDENTITY_INSERT [dbo].[Muebles] OFF
GO
SET IDENTITY_INSERT [dbo].[Pago] ON 

INSERT [dbo].[Pago] ([id_Pago], [porcentaje], [cantidad], [id_TipoPago], [id_Factura], [id_Serie]) VALUES (1, CAST(50.00 AS Decimal(4, 2)), CAST(2850.00 AS Decimal(18, 2)), 1, 1, N'A-23')
INSERT [dbo].[Pago] ([id_Pago], [porcentaje], [cantidad], [id_TipoPago], [id_Factura], [id_Serie]) VALUES (2, CAST(50.00 AS Decimal(4, 2)), CAST(2850.00 AS Decimal(18, 2)), 3, 1, N'A-23')
INSERT [dbo].[Pago] ([id_Pago], [porcentaje], [cantidad], [id_TipoPago], [id_Factura], [id_Serie]) VALUES (5, CAST(0.00 AS Decimal(4, 2)), CAST(250.00 AS Decimal(18, 2)), 5, 4, N'A-30')
SET IDENTITY_INSERT [dbo].[Pago] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([id_Rol], [nombre_Rol], [Estado]) VALUES (1, N'Administrador', 1)
INSERT [dbo].[Rol] ([id_Rol], [nombre_Rol], [Estado]) VALUES (2, N'Bodeguero', 1)
INSERT [dbo].[Rol] ([id_Rol], [nombre_Rol], [Estado]) VALUES (3, N'Vendedor', 1)
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
INSERT [dbo].[SerieFactura] ([id_Serie], [fechaInicio], [Estado]) VALUES (N'A-23', CAST(N'2024-10-05T00:00:00' AS SmallDateTime), 1)
INSERT [dbo].[SerieFactura] ([id_Serie], [fechaInicio], [Estado]) VALUES (N'A-30', CAST(N'2024-08-01T00:00:00' AS SmallDateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Stock] ON 

INSERT [dbo].[Stock] ([id_Stock], [CantidadInicial], [CantidadStock], [FechaIngreso], [Estado], [id_mueble]) VALUES (1, 20, 3, CAST(N'2024-05-15' AS Date), 1, 1)
INSERT [dbo].[Stock] ([id_Stock], [CantidadInicial], [CantidadStock], [FechaIngreso], [Estado], [id_mueble]) VALUES (2, 30, 10, CAST(N'2024-07-20' AS Date), 1, 1)
INSERT [dbo].[Stock] ([id_Stock], [CantidadInicial], [CantidadStock], [FechaIngreso], [Estado], [id_mueble]) VALUES (3, 15, 0, CAST(N'2024-03-10' AS Date), 1, 2)
SET IDENTITY_INSERT [dbo].[Stock] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoPago] ON 

INSERT [dbo].[TipoPago] ([id_TipoPago], [Nombre_TipoPago], [Estado]) VALUES (1, N'Efectivo', 1)
INSERT [dbo].[TipoPago] ([id_TipoPago], [Nombre_TipoPago], [Estado]) VALUES (2, N'Tarjeta de crédito', 1)
INSERT [dbo].[TipoPago] ([id_TipoPago], [Nombre_TipoPago], [Estado]) VALUES (3, N'Tarjeta de Débito', 1)
SET IDENTITY_INSERT [dbo].[TipoPago] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id_Usuario], [Usuario], [Password], [Estado], [id_Rol], [id_Empleado]) VALUES (1, N'Admin', 0xE1223D9BBCD82236F9F09AE1F5578E3CBBD4E8F48954CEAD3003BE60AC85629726DC04B1F875353459F97BA4A4283A1A6ADB89D3524BB4816C7125964097106C, 1, 1, 6)
INSERT [dbo].[Usuario] ([id_Usuario], [Usuario], [Password], [Estado], [id_Rol], [id_Empleado]) VALUES (2, N'ValeriaV', 0x2E15C943B679F39B07F0E79E4293EBA6F7338159970C77A94018569F577E7025697545AD443556FE92361B83F21435EAB253DBBA5E41EBB636B633241209A4FF, 1, 2, 2)
INSERT [dbo].[Usuario] ([id_Usuario], [Usuario], [Password], [Estado], [id_Rol], [id_Empleado]) VALUES (3, N'Jesus', 0xD5BFF99428217F82ABCA99105A51254B654BE9A96145E3BFBEBADCF4EC36D1B021ED05A1ADB978C2AB08E896F3EC3CB8EE5DC6B161C06F1744AAFF367ECB4CBF, 1, 1, 4)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Categoria] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ((0)) FOR [Descuentos]
GO
ALTER TABLE [dbo].[Empleado] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Entrega] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[EstadoPedido_Entrega] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[EstadoPedido_Proveedor] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Factura] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Marca] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Modelo] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Muebles] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Proveedor] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Rol] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[TipoPago] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [Relationship11] FOREIGN KEY([id_mueble])
REFERENCES [dbo].[Muebles] ([id_mueble])
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [Relationship11]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [Relationship12] FOREIGN KEY([id_Factura])
REFERENCES [dbo].[Factura] ([id_Factura])
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [Relationship12]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD  CONSTRAINT [Relationship10] FOREIGN KEY([id_mueble])
REFERENCES [dbo].[Muebles] ([id_mueble])
GO
ALTER TABLE [dbo].[DetallePedido] CHECK CONSTRAINT [Relationship10]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD  CONSTRAINT [Relationship9] FOREIGN KEY([id_Pedido])
REFERENCES [dbo].[Pedido] ([id_Pedido])
GO
ALTER TABLE [dbo].[DetallePedido] CHECK CONSTRAINT [Relationship9]
GO
ALTER TABLE [dbo].[DireccionEntrega]  WITH CHECK ADD  CONSTRAINT [Relationship23] FOREIGN KEY([id_Cliente])
REFERENCES [dbo].[Cliente] ([id_Cliente])
GO
ALTER TABLE [dbo].[DireccionEntrega] CHECK CONSTRAINT [Relationship23]
GO
ALTER TABLE [dbo].[Entrega]  WITH CHECK ADD  CONSTRAINT [Relationship21] FOREIGN KEY([id_EstadoPedido])
REFERENCES [dbo].[EstadoPedido_Entrega] ([id_EstadoPedido])
GO
ALTER TABLE [dbo].[Entrega] CHECK CONSTRAINT [Relationship21]
GO
ALTER TABLE [dbo].[Entrega]  WITH CHECK ADD  CONSTRAINT [Relationship24] FOREIGN KEY([id_DirecciónEntrega])
REFERENCES [dbo].[DireccionEntrega] ([id_DirecciónEntrega])
GO
ALTER TABLE [dbo].[Entrega] CHECK CONSTRAINT [Relationship24]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [Relationship13] FOREIGN KEY([id_Cliente])
REFERENCES [dbo].[Cliente] ([id_Cliente])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [Relationship13]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [Relationship16] FOREIGN KEY([id_Usuario])
REFERENCES [dbo].[Usuario] ([id_Usuario])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [Relationship16]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [Relationship18] FOREIGN KEY([id_Serie])
REFERENCES [dbo].[SerieFactura] ([id_Serie])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [Relationship18]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [Relationship22] FOREIGN KEY([id_Domicilio])
REFERENCES [dbo].[Entrega] ([id_Entrega])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [Relationship22]
GO
ALTER TABLE [dbo].[Modelo]  WITH CHECK ADD  CONSTRAINT [Relationship1] FOREIGN KEY([id_Marca])
REFERENCES [dbo].[Marca] ([id_Marca])
GO
ALTER TABLE [dbo].[Modelo] CHECK CONSTRAINT [Relationship1]
GO
ALTER TABLE [dbo].[Modelo]  WITH CHECK ADD  CONSTRAINT [Relationship4] FOREIGN KEY([id_Categoria])
REFERENCES [dbo].[Categoria] ([id_Categoria])
GO
ALTER TABLE [dbo].[Modelo] CHECK CONSTRAINT [Relationship4]
GO
ALTER TABLE [dbo].[Muebles]  WITH CHECK ADD  CONSTRAINT [Relationship2] FOREIGN KEY([id_Modelo])
REFERENCES [dbo].[Modelo] ([id_Modelo])
GO
ALTER TABLE [dbo].[Muebles] CHECK CONSTRAINT [Relationship2]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD FOREIGN KEY([id_Factura])
REFERENCES [dbo].[Factura] ([id_Factura])
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD FOREIGN KEY([id_Serie])
REFERENCES [dbo].[SerieFactura] ([id_Serie])
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD FOREIGN KEY([id_TipoPago])
REFERENCES [dbo].[TipoPago] ([id_TipoPago])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [Relationship6] FOREIGN KEY([id_EstadoPedido])
REFERENCES [dbo].[EstadoPedido_Proveedor] ([id_EstadoPedido])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [Relationship6]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [Relationship7] FOREIGN KEY([id_TipoPago])
REFERENCES [dbo].[TipoPago] ([id_TipoPago])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [Relationship7]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [Relationship8] FOREIGN KEY([id_Proveedor])
REFERENCES [dbo].[Proveedor] ([id_Proveedor])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [Relationship8]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [Relationship5] FOREIGN KEY([id_mueble])
REFERENCES [dbo].[Muebles] ([id_mueble])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [Relationship5]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([id_Empleado])
REFERENCES [dbo].[Empleado] ([id_Empleado])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([id_Rol])
REFERENCES [dbo].[Rol] ([id_Rol])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [Relationship14] FOREIGN KEY([id_Rol])
REFERENCES [dbo].[Rol] ([id_Rol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [Relationship14]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [Relationship15] FOREIGN KEY([id_Empleado])
REFERENCES [dbo].[Empleado] ([id_Empleado])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [Relationship15]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarCategoria]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para actualizar una Categor�a
Create PROC [dbo].[ActualizarCategoria]
@id_Categoria int,
@Categoria varchar (25),
@Estado bit
AS BEGIN
	UPDATE Categoria SET
	categoria=@Categoria,
	Estado=@Estado
	WHERE id_Categoria = @id_Categoria
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarEmpleado]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para actualizar un Empleado
Create PROC [dbo].[ActualizarEmpleado]
@id_Empleado int,
@Nombre varchar (150),
@Telefono varchar (8),
@Correo varchar (100),
@Estado bit
AS BEGIN
	UPDATE Empleado SET
	Nombre=@Nombre,
	Telefono=@Telefono,
	Correo=@Correo,
	Estado=@Estado
	WHERE id_Empleado = @id_Empleado
END;
GO
/****** Object:  StoredProcedure [dbo].[actualizarInventario]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--Procedimiento almacenado para actualizar Stocks usando FIFO

CREATE procedure [dbo].[actualizarInventario]
	@productos udt_DetalleFactura READONLY
	--@inventario udtInventario READONLY
	AS 
	BEGIN 
	DECLARE @id_mueble INT;
    DECLARE @cantidad INT;
    DECLARE @cantidadRestante INT;
    DECLARE @id_Stock INT;
    DECLARE @CantidadStock INT;

  
    DECLARE productos_cursor CURSOR FOR
    SELECT id_mueble, cantidad
    FROM @productos;

    OPEN productos_cursor;

    FETCH NEXT FROM productos_cursor INTO @id_mueble, @cantidad;

   
    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @cantidadRestante = @cantidad;

      
        DECLARE stock_cursor CURSOR FOR
        SELECT id_Stock, CantidadStock
        FROM Stock
        WHERE id_mueble = @id_mueble
          AND CantidadStock > 0
        ORDER BY FechaIngreso ASC;

        OPEN stock_cursor;

        FETCH NEXT FROM stock_cursor INTO @id_Stock, @CantidadStock;

       
        WHILE @@FETCH_STATUS = 0 AND @cantidadRestante > 0
        BEGIN
            IF @CantidadStock >= @cantidadRestante
            BEGIN
               
                UPDATE Stock
                SET CantidadStock = CantidadStock - @cantidadRestante
                WHERE id_Stock = @id_Stock;
                
                SET @cantidadRestante = 0; 
            END
            ELSE
            BEGIN
                
                UPDATE Stock
                SET CantidadStock = 0
                WHERE id_Stock = @id_Stock;
                
                SET @cantidadRestante = @cantidadRestante - @CantidadStock;
            END

            FETCH NEXT FROM stock_cursor INTO @id_Stock, @CantidadStock;
        END

        CLOSE stock_cursor;
        DEALLOCATE stock_cursor;

        
        FETCH NEXT FROM productos_cursor INTO @id_mueble, @cantidad;
    END

    CLOSE productos_cursor;
    DEALLOCATE productos_cursor;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarMarca]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para actualizar una Marca
Create PROC [dbo].[ActualizarMarca]
@id_Marca int,
@Marca varchar (50),
@Estado bit
AS BEGIN
	UPDATE Marca SET
	marca=@Marca,
	Estado=@Estado
	WHERE id_Marca = @id_Marca
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarProveedor]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para actualizar un Proveedor
Create PROC [dbo].[ActualizarProveedor]
@id_Proveedor int,
@Proveedor varchar(75),
@Direccion varchar(75),
@Telefono varchar(15),
@TelefonoExtra varchar(15),
@Correo varchar(35),
@Estado bit
AS BEGIN
	UPDATE Proveedor SET
	proveedor=@Proveedor,
	Direccion=@Direccion,
	Telefono=@Telefono,
	TelefonoExtra=@TelefonoExtra,
	Correo=@Correo,
	Estado=@Estado
	WHERE id_Proveedor = @id_Proveedor
END;
GO
/****** Object:  StoredProcedure [dbo].[BuscarClientePorNit]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Procedimiento para buscar Cliente por Nit
CREATE PROC [dbo].[BuscarClientePorNit]
@nit varchar (8)
AS BEGIN
SELECT * FROM Cliente
WHERE  NIT LIKE @nit;
END;
GO
/****** Object:  StoredProcedure [dbo].[BuscarClientePorNombre]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Procedimiento para buscar Cliente por Nombre
CREATE PROC [dbo].[BuscarClientePorNombre]
@nombre_cliente varchar (175)
AS BEGIN
SELECT * FROM CLIENTE
WHERE Nombre_Cliente LIKE @nombre_cliente;
END;
GO
/****** Object:  StoredProcedure [dbo].[BuscarDireccionesEntregaCliente]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Procedimiento para buscar Direcciones de entrega por id_Cliente
CREATE PROC [dbo].[BuscarDireccionesEntregaCliente]
@id_cliente int
AS BEGIN
SELECT 
	DireccionEntrega.id_DirecciónEntrega as 'ID',
	DireccionEntrega.Direccion
FROM DireccionEntrega
	INNER JOIN Cliente on DireccionEntrega.id_Cliente = Cliente.id_Cliente
WHERE 
	DireccionEntrega.id_Cliente = @id_cliente
GROUP BY 
	DireccionEntrega.id_DirecciónEntrega,
	DireccionEntrega.Direccion
HAVING COUNT(*) > 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[BuscarDireccionesEntregaClientePorNombre]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Procedimiento para buscar Direcciones de entrega por id_Cliente
CREATE PROC [dbo].[BuscarDireccionesEntregaClientePorNombre]
    @nombre_cliente VARCHAR(200)
AS
BEGIN
    -- Convertir el nombre de cliente a mayúsculas para la comparación
    SELECT 
        DireccionEntrega.id_DirecciónEntrega AS 'ID',
        DireccionEntrega.Direccion
    FROM 
        DireccionEntrega
    INNER JOIN 
        Cliente ON DireccionEntrega.id_Cliente = Cliente.id_Cliente
    WHERE 
        UPPER(Cliente.Nombre_Cliente) = UPPER(@nombre_cliente);
END
GO
/****** Object:  StoredProcedure [dbo].[datosFactura]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[datosFactura]
@idFactura int
AS
BEGIN
select id_Factura, id_Serie, fechaFactura, montoTotal, totalSinDescuento, Nombre_cliente, 
DireccionFacturacion, nit, Nombre from Factura inner join Cliente on Factura.id_Cliente = Cliente.id_Cliente 
inner join usuario on Factura.id_Usuario = Usuario.id_Usuario inner join Empleado on Usuario.id_Empleado = Empleado.id_Empleado
where id_Factura = @idFactura;






select marca, nombre, modelo, DetalleFactura.cantidadMuebles as 'Cantidad', SUM(muebles.PrecioVenta*cantidadMuebles) as 'Total' from Muebles 
		inner join DetalleFactura on DetalleFactura.id_mueble = Muebles.id_mueble inner join Modelo on Muebles.id_Modelo = Modelo.id_Modelo
		inner join Marca on Modelo.id_Marca = marca.id_Marca

		where DetalleFactura.id_Factura = @idFactura
		group by nombre, cantidadMuebles, marca, modelo




select  Nombre_TipoPago, cantidad from TipoPago inner join Pago on TipoPago.id_TipoPago = Pago.id_TipoPago
where pago.id_Factura = @idFactura;



				
		

END


GO
/****** Object:  StoredProcedure [dbo].[EliminarCategoria]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Procedimiento para eliminar categoria
CREATE PROC [dbo].[EliminarCategoria]
@id_Categoria int
AS BEGIN
    -- Cambiar el estado a 0 (falso) para ocultar la marca
    UPDATE Categoria 
    SET Estado = 0
    WHERE id_Categoria = @id_Categoria
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarEmpleado]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Procedimiento para eliminar empleado
CREATE PROC [dbo].[EliminarEmpleado]
@id_Empleado int
AS BEGIN
    -- Cambiar el estado a 0 (falso) para ocultar la marca
    UPDATE Empleado 
    SET Estado = 0
    WHERE id_Empleado = @id_Empleado
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarMarca]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[EliminarMarca]
@id_Marca int
AS BEGIN
    -- Cambiar el estado a 0 (falso) para ocultar la marca
    UPDATE Marca 
    SET Estado = 0
    WHERE id_Marca = @id_Marca
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarProveedor]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Procedimiento para eliminar proveedores
CREATE PROC [dbo].[EliminarProveedor]
@id_Proveedor int
AS BEGIN
    -- Cambiar el estado a 0 (falso) para ocultar el proveedor
    UPDATE Proveedor 
    SET Estado = 0
    WHERE id_Proveedor = @id_Proveedor
END;
GO
/****** Object:  StoredProcedure [dbo].[ExistenciasMuebles]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Procedimiento para solicitar datos de stock
CREATE PROC [dbo].[ExistenciasMuebles]
AS
SELECT 
        M.id_mueble as 'ID', 
        M.Nombre as 'Nombre', 
		Modelo.modelo as 'Modelo',
        SUM(S.CantidadStock) AS 'Existencias',
		M.PrecioVenta as 'Precio',
		M.TiempoGarantia as 'Garantía',
		M.Descuento as 'Descuento'
    FROM Muebles M
    INNER JOIN  Stock S ON M.id_mueble = S.id_mueble
	INNER JOIN Modelo on M.id_Modelo = Modelo.id_Modelo
    WHERE 
        M.Estado = 1 AND S.Estado = 1 AND S.CantidadStock > 0
	GROUP BY 
        M.id_mueble, 
        M.Nombre,
		Modelo.modelo,
		M.PrecioVenta,
		M.TiempoGarantia,
		M.Descuento
GO
/****** Object:  StoredProcedure [dbo].[GenerarFactura]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GenerarFactura]
@detalle udt_DetalleFactura READONLY, 
@serie varchar(150),
@id_cliente int = 0,
@nombre_cliente varchar(200) = null,
@direccion_Facturacion varchar(30) = null,
@telefono varchar(10) = null,
@correo varchar(50) = null,
@nit varchar(8) = 'CF',
@id_DireccionEntrega int = 0,
@direccionEntrega varchar(150) = null,
@descripcionEntrega varchar(200),
@telefonoReferencia varchar(8),
@fechaEntrega date,
@horaEntrega time,
@idTTipoPago1 int,
@idTTipoPago2 int = null,
@idTipoPago3 int = null,
@cantidad1 as decimal(10,2) = 0,
@cantidad2 as decimal(10,2) = 0,
@cantidad3 as decimal (10,2) =0,
@id_Usuario int,
@resultado varchar(200) OUTPUT
AS
BEGIN
	declare @id_Entrega as int
	
	set NOCOUNT ON
	BEGIN TRAN factura
		Begin Try
	
			

			
			-- Verificar que haya existencias de los productos
			IF EXISTS (SELECT d.id_mueble, SUM(Stock.CantidadStock) AS TotalStock
				FROM Stock INNER JOIN @detalle d ON Stock.id_mueble = d.id_Mueble
				GROUP BY d.id_mueble
				HAVING SUM(Stock.CantidadStock) <=0 or SUM(Stock.CantidadStock) < MAX( d.cantidad)
				)
				BEGIN
					set @resultado = 'No hay Stock suficiente'
					
				END
			
				ELSE
				BEGIN 

					IF (@id_cliente = 0)
					BEGIN 
						IF (@nit = '') set @nit ='CF'
						insert into Cliente (Nombre_Cliente, DireccionFacturacion, Telefono, Correo,Descuentos, NIT, Estado)
						values (@nombre_cliente, @direccion_Facturacion, @telefono, @correo, 0, @nit, 1)
						set @id_cliente = @@IDENTITY
					END
			
					IF (@id_DireccionEntrega = 0) 
						BEGIN
							insert into DireccionEntrega (Direccion, id_Cliente)
							values (@direccionEntrega, @id_cliente)
							set @id_DireccionEntrega = @@IDENTITY
						END

			
					INSERT INTO Entrega (DescripcionEntrega, TelefonoReferencia, Estado, id_EstadoPedido, id_DirecciónEntrega, fechaEntrega, horaEntrega)
					values (@descripcionEntrega, @telefonoReferencia, 1, 1, @id_DireccionEntrega, @fechaEntrega, @horaEntrega)
					set @id_Entrega = @@IDENTITY

					-- Asignación del total a una variable
					declare @total as decimal(10,2)
					select @total = SUM(PrecioVenta*d.cantidad)  from Muebles inner join @detalle d
						on muebles.id_Mueble = d.id_mueble 

					declare @descuento as decimal(10,2)
					select @descuento = SUM(PrecioVenta*d.cantidad*(Descuento/100))  from Muebles inner join @detalle d
						on muebles.id_Mueble = d.id_mueble 


					declare @totalDescuento as decimal(10,2)


					IF exists (select Descuentos from Cliente where id_Cliente = @id_cliente and Descuentos != 0)
						BEGIN 
							declare @descuentoCliente as decimal (3,2)
							select @descuentoCliente = Descuentos from Cliente where id_Cliente = @id_cliente and Descuentos != 0

							set @totalDescuento = @total - @descuento
							set @descuento = @descuento + (@totalDescuento * (@descuentoCliente/100))
							set @totalDescuento =@total - @descuento
						END 

					ELSE 
						BEGIN
							set @totalDescuento = @total - @descuento

						END

					
					
				
				
					insert into Factura (id_Serie, fechaFactura, montoTotal, totalSinDescuento,  Estado, id_Cliente, id_Usuario, id_Domicilio)
					values (@serie, GETDATE(), @totalDescuento, @total, 1, @id_cliente, @id_Usuario, @id_Entrega)

					declare @id_Factura as int
					set @id_Factura= @@IDENTITY

					--Guardar detalle
					insert into DetalleFactura (cantidadMuebles, id_mueble, id_Factura, id_Serie)
					select cantidad, id_mueble, @id_Factura, @serie from @detalle


					--Métodos de pago
					/*IF (@idTTipoPago2 is  null and @idTipoPago3 is null)
						begin
							set @cantidad1 = @totalDescuento
							set @porcentajePago1 = 100
							insert into Pago (porcentaje, cantidad, id_TipoPago, id_Factura, id_Serie)
							values (@porcentajePago1, @cantidad1, @idTTipoPago1, @id_Factura, @serie)
							--select @cantidad1, @cantidad2, @cantidad3
						end

					ELSE IF (@idTipoPago3 is null)
						BEGIN
							set @cantidad1 = @totalDescuento * @porcentajePago1/100
							set @cantidad2 = @totalDescuento * @porcentajePago2/100
							

							IF (@cantidad1 + @cantidad2 != @totalDescuento)
								BEGIN
									IF @cantidad1 < @cantidad2
											set @cantidad1 = @cantidad1 + (@totalDescuento - (@cantidad1 + @cantidad2))
									ELSE
										set @cantidad2 = @cantidad2 + (@totalDescuento - (@cantidad1 + @cantidad2))
					
								END

							insert into Pago (porcentaje, cantidad, id_TipoPago, id_Factura, id_Serie)
							values (@porcentajePago1, @cantidad1, @idTTipoPago1, @id_Factura, @serie),
							(@porcentajePago2, @cantidad2, @idTTipoPago2, @id_Factura, @serie)

		
						END

					ELSE 
						BEGIN
							set @cantidad1 = @totalDescuento * @porcentajePago1/100
							set @cantidad2 = @totalDescuento * @porcentajePago2/100
							set @cantidad3 = @totalDescuento * @porcentajePago3/100

							IF (@cantidad1 + @cantidad2+@cantidad3 != @totalDescuento)
								BEGIN
									IF ((@cantidad1 < @cantidad2) AND (@cantidad1<@cantidad3))
											set @cantidad1 = @cantidad1 + (@totalDescuento - (@cantidad1 + @cantidad2 +@cantidad3))
									ELSE IF ((@cantidad2 < @cantidad1) AND (@cantidad2<@cantidad3))
										set @cantidad2 = @cantidad2 + (@totalDescuento - (@cantidad1 + @cantidad2 +@cantidad3))
									ELSE IF ((@cantidad3 < @cantidad1) AND (@cantidad3<@cantidad2))
										set @cantidad3 = @cantidad3 + (@totalDescuento - (@cantidad1 + @cantidad2 +@cantidad3))
					
								END
			
							insert into Pago (porcentaje, cantidad, id_TipoPago, id_Factura, id_Serie)
							values (@porcentajePago1, @cantidad1, @idTTipoPago1, @id_Factura, @serie),
							(@porcentajePago2, @cantidad2, @idTTipoPago2, @id_Factura, @serie),
							(@porcentajePago3, @cantidad3, @idTipoPago3, @id_Factura, @serie)

						END*/


						if(@cantidad3!=0)
						begin
						insert into Pago (porcentaje, cantidad, id_TipoPago, id_Factura, id_Serie)
							values (0, @cantidad3, @idTipoPago3, @id_Factura, @serie)
						end

						if(@cantidad2!=0)
						begin
						insert into Pago (porcentaje, cantidad, id_TipoPago, id_Factura, id_Serie)
							values (0, @cantidad2, @idTTipoPago2, @id_Factura, @serie)
						end

						if(@cantidad1!=0)
						begin
						insert into Pago (porcentaje, cantidad, id_TipoPago, id_Factura, id_Serie)
							values (0, @cantidad1, @idTTipoPago1, @id_Factura, @serie)
						end


					-- Select para imprimir datos de la factura
					select id_Factura, id_Serie, fechaFactura, montoTotal, totalSinDescuento, Nombre_Cliente, DireccionFacturacion, Usuario	
					from Factura
					inner join Cliente on Cliente.id_Cliente = Factura.id_Cliente 
					inner join usuario on Factura.id_Usuario = usuario.id_Usuario
					where Factura.id_Factura = @id_Factura and Factura.id_Cliente = @id_cliente

					
					
					select muebles.Nombre, d.cantidad, SUM(PrecioVenta*d.cantidad) as 'Total' from Muebles
					inner join @detalle d on Muebles.id_mueble= d.id_Mueble
					group by Muebles.Nombre, d.cantidad

					-- Actualizar inventario (siguiendo el concepto FIFO)
					exec actualizarInventario @productos = @detalle

					set @resultado = 'Se gurado correctamente la factura'

				END

		--insert into DetalleFactura 
		
		COMMIT TRAN factura
	End Try
		
	Begin Catch
		Rollback TRAN factura
		set @resultado = 'Ocurrio un error: ' + ERROR_MESSAGE() + ' en la línea: ' + CONVERT(NVARCHAR(255), ERROR_LINE() ) + '.'
		
	End Catch 

End
GO
/****** Object:  StoredProcedure [dbo].[InsertarCategoria]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para registrar Nueva Categoria
CREATE PROC [dbo].[InsertarCategoria]
@Categoria varchar (25),
@Estado bit
AS
INSERT INTO Categoria 
VALUES (@Categoria, @Estado)
GO
/****** Object:  StoredProcedure [dbo].[InsertarEmpleado]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para registrar Nuevo Empleado
CREATE PROC [dbo].[InsertarEmpleado]
@Nombre varchar (150),
@Telefono varchar (8),
@Correo varchar (100),
@Estado bit
AS
INSERT INTO Empleado 
VALUES (@Nombre, @Telefono, @Correo, @Estado)
GO
/****** Object:  StoredProcedure [dbo].[InsertarMarca]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para registrar Nueva Marca
CREATE PROC [dbo].[InsertarMarca]
@Marca varchar (50),
@Estado bit
AS
INSERT INTO Marca 
VALUES (@Marca, @Estado)
GO
/****** Object:  StoredProcedure [dbo].[InsertarProveedor]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para registrar nuevo Proveedor
CREATE PROC [dbo].[InsertarProveedor]
@Proveedor varchar(75),
@Direccion varchar(75),
@Telefono varchar(15),
@TelefonoExtra varchar(15),
@Correo varchar(35),
@Estado bit
AS
INSERT INTO Proveedor 
VALUES (@Proveedor, @Direccion, @Telefono, @TelefonoExtra, @Correo, @Estado)
GO
/****** Object:  StoredProcedure [dbo].[ListarCategoria]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para listar Categor�as
CREATE PROC [dbo].[ListarCategoria]
AS
SELECT * FROM Categoria 
WHERE Estado = 1
ORDER BY id_Categoria ASC
GO
/****** Object:  StoredProcedure [dbo].[ListarEmpleado]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para listar Empleado
CREATE PROC [dbo].[ListarEmpleado]
AS
SELECT * FROM Empleado 
WHERE Estado = 1
ORDER BY id_Empleado ASC
GO
/****** Object:  StoredProcedure [dbo].[ListarMarca]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PRocedimiento para listar marcas
CREATE PROC [dbo].[ListarMarca]
AS
SELECT * FROM Marca 
WHERE Estado = 1
ORDER BY id_Marca ASC
GO
/****** Object:  StoredProcedure [dbo].[ListarMuebles]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Procedimiento para listar los muebles
CREATE PROC [dbo].[ListarMuebles]
AS
SELECT 
	Muebles.id_mueble as 'ID',
	Muebles.Nombre as 'Nombre Mueble',
	Muebles.PrecioVenta as 'Precio Venta',
	Muebles.Descuento as 'Descuento',
	Muebles.TiempoGarantia as 'Garantía',
	Modelo.modelo as 'Modelo'
FROM Muebles
INNER JOIN Modelo on Muebles.id_Modelo = Modelo.id_Modelo
	WHERE 
	Muebles.Estado = 1 AND Modelo.Estado = 1
ORDER BY 
	Muebles.id_mueble,
	Muebles.Nombre,
	Muebles.PrecioVenta,
	Muebles.Descuento,
	Muebles.TiempoGarantia
GO
/****** Object:  StoredProcedure [dbo].[ListarProveedor]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para listar tipos de Proveedores
CREATE PROC [dbo].[ListarProveedor]
AS
SELECT * FROM Proveedor
WHERE Estado = 1
ORDER BY id_Proveedor ASC
GO
/****** Object:  StoredProcedure [dbo].[ListarSeriesDeFactura]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para buscar SerieFactura
CREATE PROC [dbo].[ListarSeriesDeFactura]
AS
Select id_Serie from SerieFactura
ORDER BY fechaInicio ASC
GO
/****** Object:  StoredProcedure [dbo].[ListarTiposPago]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para listar tipos de pago
CREATE PROC [dbo].[ListarTiposPago]
AS
SELECT 
	id_TipoPago,
	Nombre_TipoPago
FROM TipoPago
WHERE Estado = 1
ORDER BY Nombre_TipoPago ASC
GO
/****** Object:  StoredProcedure [dbo].[ListarUsuarios]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--Procedimiento para listar usuarios

CREATE PROC [dbo].[ListarUsuarios]
AS BEGIN
   select id_Usuario, nombre, usuario, nombre_rol 
   from usuario inner join rol 
   on Usuario.id_Rol = rol.id_Rol 
   inner join Empleado 
   on Empleado.id_Empleado = Usuario.id_Empleado
END;

GO
/****** Object:  StoredProcedure [dbo].[ListarVentas]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para listar Ventas
CREATE PROC [dbo].[ListarVentas]
AS
Select
	Factura.id_Factura as 'ID',
	Factura.fechaFactura as 'Fecha',
	Factura.montoTotal as 'Total',
	Cliente.Nombre_Cliente as 'Compró',
	Usuario.Usuario as 'Atendió',
	DireccionEntrega.Direccion as 'Entrega'

from Factura
INNER JOIN Cliente on Factura.id_Cliente = Cliente.id_Cliente
INNER JOIN Usuario on Factura.id_Usuario = Usuario.id_Usuario
INNER JOIN Entrega on Factura.id_Domicilio = Entrega.id_Entrega
INNER JOIN DireccionEntrega on Entrega.id_DirecciónEntrega = DireccionEntrega.id_DirecciónEntrega

ORDER BY 
	Factura.fechaFactura DESC
GO
/****** Object:  StoredProcedure [dbo].[p_usuarios]    Script Date: 23/10/2024 11:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[p_usuarios]
(
    @usuario varchar(100), @contrasennia varchar(100), @rol int, @empleado int, @idUsuario int, @opcion int  
)

AS
BEGIN

	declare @encriptado as varbinary(max)

	if @opcion = 1
		begin
			
			set @encriptado = hashbytes('SHA2_512', convert(nvarchar(4000), @contrasennia))
			insert into usuario values ( @usuario,  @encriptado, 1, @rol, @empleado)
		end
	else if @opcion = 2
		begin
			set @encriptado = hashbytes('SHA2_512', convert(nvarchar(4000), @contrasennia))
			update  usuario set Usuario	= @usuario, Usuario.Password =   @encriptado, Estado =  1, id_Rol =  @rol, id_Empleado = @empleado where id_Usuario = @idUsuario
		end
	else if @opcion = 3
		begin
			update usuario set Estado = 0
		end

		select *from Usuario
END;
GO
